#titlediv{
	background-image: url(../images/left_nav_title.gif);
	background-repeat: no-repeat;
	background-size: 183px 47px;
	background-position: -3em 90%; 
}
body{
	background-image: url(../images/left_nav_bottom.gif);
	background-repeat: no-repeat;
	background-size: 183px 130px;
}
.c1{
	font-family: '宋体';
	font-weight: lighter;
}
#c2{
	color:red;
}
ul{
	list-style-image: url(../images/left_cur.gif);
}